<%= form_for(@scene_template) do |f| %>
  <% if @scene_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scene_template.errors.count, "error") %> prohibited this scene_template from being saved:</h2>

      <ul>
      <% @scene_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :review_template_id %><br>
    <%= f.text_field :review_template_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :sort_order %><br>
    <%= f.number_field :sort_order %>
  </div>
  <div class="field">
    <%= f.label :max_length %><br>
    <%= f.number_field :max_length %>
  </div>
  <div class="field">
    <%= f.label :required %><br>
    <%= f.check_box :required %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
