<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @scene.review %>
</p>

<p>
  <strong>Sort order:</strong>
  <%= @scene.sort_order %>
</p>

<p>
  <strong>Max length:</strong>
  <%= @scene.max_length %>
</p>

<p>
  <strong>Name:</strong>
  <%= @scene.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scene.description %>
</p>

<p>
  <strong>Scene template:</strong>
  <%= @scene.scene_template %>
</p>

<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
