<%= form_for(@review_template) do |f| %>
  <% if @review_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review_template.errors.count, "error") %> prohibited this review_template from being saved:</h2>

      <ul>
      <% @review_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :custom_scenes_allowed %><br>
    <%= f.check_box :custom_scenes_allowed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
